.card-button{
    text-align: center;
    width: 100%;
    background-color: #fb5456;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 15px 50px;
    font-weight: 600;
    font-size: 1.1rem;
}
.card-button:hover,
.card-button:active{
    background-color: #fb5456 !important; 
}